.displayInLine_label {
  display: inline-block;
  margin-bottom: 16px;
}

.displayInLine_last_label {
  display: inline-block;
}

.otherData_div {
  padding: 8px;
  border: 1px solid black;
  border-radius: 16px;
  background-color: #e8eaec;
}

